.header{
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 15px;
}

.menuButton{
    padding: 9px;
    background-color: rgb(100, 100, 100);
    display: inline-block;
    margin-right: 20px;
}

.panel{
    background-color: #B8413E;
    color: white;
    padding: 50px 50px;
    height: 200px;
    font-size: 20px;
}

.panel .content{
    font-size: 42px;
}

.button{
    padding: 0 45px;
    position: absolute;
    margin-top: -55px;
    width: 100%;
}

.buttonElement{
    background-color: white;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    padding: 35px;
    border-radius: 4px;
    width: 200px;
    text-align: center;
    margin:1.5em;
    
}

.buttonElement .value{
    font-size: 60px;
}

.buttonElement .metric{
    font-size: 18px;
}

.searchInput{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    border: 1px solid rgb(240, 240, 240);
    width: 80%;
    border-radius: 5px;
    position: absolute;
    display: block;
    margin: 30px;
    margin-left: 75px;
}

.newPeople{
    padding: 10px;
    margin-left: 75%;
    margin-top: -35px ;
    position: absolute;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 3px 3px 3px 3px; 
    transition: all .2s ;
    border: 1px solid rgb(240, 240, 240,0.3);
}

.newPeople:hover{
    background-color:  rgba(100, 100, 100);
    border: 1px solid rgba(100, 100, 100);
    color: white;
    box-shadow: 3px 3px 3px 3px rgb(0, 0, 0,0.3);
}

.painelPrograma{
    background-color: white;
    padding: 15px;
    box-shadow: 0 0 7px rgba(0,0,0,0.3);
    border: 1px solid rgb(240, 240, 240);
    width: 90%;
    height: 22%;
    border-radius: 5px;
    position: absolute;
    display: block;
    margin: 40px;
    margin-left: 65px ;
}

.titleName{
    padding:10px;
    font-weight: bold;
    position: absolute;
}

.subtitleEmail{
    padding:2px;
    margin-left: 7px;
    position: absolute;
    margin-top: 30px;

}

.buttonEdit{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin-left: 7px ;
    margin-top: 70px;
    position: absolute;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px rgb(100, 100, 100,0.3);
    transition: all .2s ;
}

.buttonEdit:hover{
    background-color: rgb(100, 100, 100,0.3);
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0,0.3);
}


.dashboard{   
    margin: 5%;
    margin-left: 20%;
    position:0 ;
    margin-top: -150px; 
    display: inline-flex;
}

.dashboard .value{
    font-size: 60px;
    text-align: left;
}


.dashboard .metric{
    font-size: 18px;
    text-align: left;
}